<h1>Jake Day Williams</h1>
<a href= '/' >Home</a>
<a href= '/about' >About</a>
<a href= '/resume' >Resume</a>
<a href="https://www.youtube.com/watch?v=4vvBAONkYwI">I'm feeling lucky.</a>
<br />
<h2>Get in touch.</h2>
<ul>
    <li>
      Email: jake@wildacademy.com
    </li>
    <li>
      Phone: (435)671-6971
    </li>
    <li>
      Websites:
      <ul>
      <li><a href="http://sketchuphero.com">SketchUp Hero</a></li>
      <li><a href="http://wildacademy.com">Wild Academy</a></li>
      <li><a href="http://youtube.com/jakedaywilliams">YouTube Channel</a></a></li>
      <li><a href="http://www.amazon.com/Jake-Day-Williams/e/B010GGDTT6/">Amazon Page</a></li>
      <li><a href="http://wildacademy.co">Email List Signup</a></li>
      </ul>
    </li>
</ul>