<h1>Jake Day Williams</h1>
<a href= '/' >Home</a>
<a href= '/resume' >Resume</a>
<a href= '/contact' >Contact</a>
<a href="https://www.youtube.com/watch?v=4vvBAONkYwI">I'm feeling lucky.</a>
<br />
<h2>Skills</h2>
<ul>
  <% jobs = ["Designer","Model/Animator","Content Creator","Teacher","Writer","Developer"] %>
  <% jobs.each do |job| %>
    <li><%= job %></li>
  <% end %>
</ul>

<h2>Interests</h2>
<ul>
    <li>
      Virtual Reality
    </li>
    <li>
      Podcasts and Audiobooks
    </li>
    <li>
      Reading Nonfiction/Fantasy
    </li>
    <li>
      Science and Technology
    </li>
</ul>
<h3>Past. Present. Future.</h3>
<br />
<a href= '/' >Home</a>
<a href= '/resume' >Resume</a>
<a href= '/contact' >Contact</a>
</body>